{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
    {% block custom_js %}
    {% endblock custom_js %}
    {% block custom_css %}
    {% endblock custom_css %}
</head>
<body>
{% block main %}
{% endblock main %}
</body>
</html>